extends ../layout

block content
    form#frm_join(action='/auth/join', method='post', name='frm_join')
        h1.text-center Node JS Passport #{title}
        input(type='text', name='username', placeholder='ID', required='required')
        input(type='text', name='nickname', placeholder='Nickname', required='required')
        input(type='password', name='password', placeholder='Password', required='required')
        input(type='text', name='email', placeholder='Email', required='required')
        input(type='submit', value='Join')

