extends layout

block content
  h1 #{title}
  p Welcome to #{title}
  ul
    li
      a(href='/auth/login') Login
    li
      a(href='/auth/logout') Logout
    li
      a(href='/auth/myinfo') My Info
    li
      a(href='/drive/files') Drive